@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Nunito:wght@600&display=swap');

body{
    font-family: 'Nunito';
    background-color: black; 
}

h2{
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    right: 50px;
    text-align: center;
}

.main{
    margin-top: 3rem;
    height: 100vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.board-container{
    background-color: black;
    margin: 0 auto;
    margin-top: 6.6rem;
    height: 410px;
    width: 410px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    /* grid-template-rows: auto; */
}


.box{
    border-radius: 4px;
    background-color: rgba(245, 245, 245, 0.883);
    border: 10px solid rgb(243, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

i{
    color: black;
    font-size: 70px;
    font-weight: 800;
}

.overlay{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width :100%;
    height: 100vh;
    backdrop-filter: blur(.9px);
    background-color: rgba(196, 189, 189, 0.116);
    visibility: visible;
    opacity: 1;
    transition: opacity .9s ease-in-out .05s, visibility .7s ease-in-out .05s;
}

.overlay-content{
    position: relative;
    right: 30px;
    height: 48%;
    width: 470px;
    border-radius: 5px;
    background-color: rgb(240, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.overlay-info-text{
    font-family: 'Cedarville Cursive';
    line-height: 1.4rem;
    font-weight: 900;
    font-size: 1.8rem;
    position: relative;
    bottom: 20px;
}

a{
    cursor: pointer;
    color: white;
    font-size: 1.4rem;
    background-color: brown;
    padding: 0 1.7rem;
    border-radius: 25px;
    text-decoration: none;
}

.btn{
    position: relative;
    top: 13px;
}

.restart{
    color: white;
    position: absolute;
    top: 60px;
    left: 42vw;
}

@media (max-width: 900px){
    .restart{
        left: 38vw;
    }
}